<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todoList-node-HerokuServer</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md py-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" v-model="newTodoStr" />
              <div class="input-group-append">
                <button class="btn btn-dark" type="button" @click="addTodo">增加待辦</button>
              </div>
            </div>
            <div class="text-center mb-3">
              <button class="btn btn-danger btn-lg" type="button" @click="delAllTodo">
                刪除所有待辦
              </button>
            </div>
            <p v-if="ajaxData == null">未取得資料</p>
            <p v-else-if="ajaxData.length == 0">完全沒有待辦事項</p>
            <ol class="pl-4" v-else>
              <li class="mb-2" v-for="(item, index) in ajaxData">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" v-model="item.title" />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-dark"
                      type="button"
                      @click="editTodo(item.id, item.title)"
                    >
                      編輯單筆
                    </button>
                    <button class="btn btn-outline-danger" type="button" @click="delTodo(item.id)">
                      刪除單筆
                    </button>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      // const urlPath = 'http://127.0.0.1:3005';
      const urlPath = 'https://fathomless-mesa-31234.herokuapp.com';
      let vueApp = new Vue({
        el: '#app',
        data: {
          ajaxData: null,
          newTodoStr: '',
        },
        mounted() {
          let vm = this;
          this.getTodosData();
        },
        methods: {
          getTodosData() {
            let vm = this;
            axios
              .get(`${urlPath}/todos`)
              .then(function (res) {
                let ajaxData = res.data.data;
                vm.ajaxData = ajaxData;
              })
              .catch(function (error) {
                console.log(error);
              });
          },
          postTodoData(postStr) {
            let vm = this;
            axios
              .post(`${urlPath}/todos`, {
                title: postStr,
              })
              .then(function (res) {
                let ajaxData = res.data.data;
                console.log('axios post ajaxData', ajaxData);
                vm.getTodosData();
              })
              .catch(function (error) {
                console.log(error);
              });
          },
          patchTodoData(id, newStr) {
            let vm = this;
            console.log('patchTodoData() -> id, newStr', id, newStr);
            axios
              .patch(`${urlPath}/todos/${id}`, {
                title: newStr,
              })
              .then(function (res) {
                let ajaxData = res.data.data;
                alert('線上已完成更新');
                console.log('axios post ajaxData', ajaxData);
                vm.getTodosData();
              })
              .catch(function (error) {
                console.log(error);
              });
          },
          delTodoData(id) {
            let vm = this;
            console.log('delTodoData() -> id', id);
            axios
              .delete(`${urlPath}/todos/${id}`)
              .then(function (res) {
                let ajaxData = res.data.data;
                alert('線上已完成更新');
                console.log('axios delTodoData ajaxData', ajaxData);
                vm.getTodosData();
              })
              .catch(function (error) {
                console.log(error);
              });
          },
          delAllTodoData() {
            let vm = this;
            axios
              .delete(`${urlPath}/todos`)
              .then(function (res) {
                let ajaxData = res.data.data;
                alert('線上已完成更新');
                console.log('axios delAllTodoData ajaxData', ajaxData);
                vm.getTodosData();
              })
              .catch(function (error) {
                console.log(error);
              });
          },

          addTodo() {
            let vm = this;
            if (vm.newTodoStr == '') {
              alert('增加待辨不得為空');
              return;
            } else {
              vm.postTodoData(vm.newTodoStr);
              vm.newTodoStr == '';
            }
          },
          editTodo(id, newTodoStr) {
            let vm = this;
            console.log('editTodo(id) -> id, newTodoStr', id, newTodoStr);
            if (newTodoStr == '') {
              alert('更新不得為空');
              return;
            } else {
              vm.patchTodoData(id, newTodoStr);
            }
          },
          delTodo(id) {
            let vm = this;
            console.log('delTodo(id)', id);
            vm.delTodoData(id);
          },
          delAllTodo() {
            let vm = this;
            console.log('delAllTodo()');
            vm.delAllTodoData();
          },
        },
      });
    </script>
  </body>
</html>
